import {I{{name}}Props} from './{{name}}.types'
import './{{name}}.style.scss'

/** #### {{name}}
* - A description of the {{name}} component so that tooltips can understand this component
 */
const {{name}} = ({...htmlAttributes}: I{{name}}Props) => {
    return <div {...htmlAttributes}>{{name}}</div>
}

export default {{name}}